body {
  font-family: "Hiragino Sans", "Noto Sans JP", serif;
  line-height: 1;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', 'Segoe UI', 'Hiragino Sans', 'Yu Gothic', 'Noto Sans CJK JP', sans-serif;
  text-align: start;
  margin: 0;
  padding: 0;
}

/* 章タイトル */
h1 {
  margin-bottom: 0.2em;
  border-bottom: 1px solid #000000;
  text-align: left;
  font-size: 1.1em;
  font-weight: bold;
}

h2 {
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  text-align: left;
  font-size: 1em;
  font-weight: bold; 
}

h3 {
  font-size: 0.95em;
  margin: 0.2em 0 0.1em 0.1em;
  text-align: left;
  font-weight: bold;
}

h4 {
  font-size: 0.8em;
  margin: 0.2em 0 0 0.3em;
  text-align: left;
}

p {
  margin: 0 0 0 0.5em;
  padding: 0;
  font-size: 0.8em;
}

/* ---------- TABLE STYLING ---------- */
table {
  border-collapse: collapse;
  margin: 0.8em 0;
  width: 100%;
  font-size: 0.8em;
}

table, th, td {
  border: 1px solid #bbb;
  font-size: 0.8em;
}

thead th {
  background: #f0f0f0;
  font-weight: 700;
  text-align: left;
  padding: 4px 6px;
}

tbody td {
  padding: 4px 6px;
}

tbody tr:nth-child(even) {
  background: #fafafa;
}

/* ---------- TOC STYLING ---------- */
nav#toc .toc-section-number {
  display: none;
}

nav#toc {
  padding: 0;
  border-radius: 5px;
}

nav#toc ol {
  list-style-type: none;
  padding-left: 1em;
}

nav#toc li {
  margin: 0.2em 0;
}

/* ---------- CODE BLOCK STYLING ---------- */
pre {
  background-color: #eff1f4;
  font-family: monospace;
  line-height: 1.0;
  margin: 0;
  padding: 0;
}

/* ---------- LIST STYLING ---------- */
section ol, section ul {
  padding: 0;
  margin: 0 0 0.2em 0.2em;
  padding-bottom: 0.2em;
}

section ul {
  margin-left: 0.5em;
  margin-bottom: 0.1em;
  padding-bottom: 0;
}

section > ol > li {
  margin: 0;
  padding-left: 0.1em;
  font-size: 1em;
}

section > ul > li {
  margin: 0;
  padding-left: 0.2em;
  font-size: 0.8em;
}

/* ダークモード対応 */
@media (prefers-color-scheme: dark) {
  body { 
    color: #ddd; 
    background: #111; 
  }
}
